 .submit {
	
	  fill: #94d31b;

}
#submit:hover {
  transform: scale(2.0);
  	 -webkit-transition:  scale 500ms linear;
    -moz-transition:  scale 500ms linear;
    -o-transition:  scale 500ms linear;
    -ms-transition:  scale 500ms linear;
    transition:  scale 500ms linear;
}
/*
#error {
	display: block;
}
*/